@import "tailwindcss";
@import "tw-animate-css";

/* 🎨 Tokens visuales base */
:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);

  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);

  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);

  /* Mas tokens aqui */
}

/* 🌗 Modo oscuro */
.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);

  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
}

/* 🧼 Estilos base */
@layer base {
  * {
    border: 1px solid var(--color-border);
    outline-color: var(--color-ring);
    outline-width: 1px;
    outline-style: solid;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}





